.App{
  margin: auto;
}

.Greeting{
  max-width: 80%;
  margin: auto;
  padding: 24px;
}

.StockEventTable{
  max-width: 80%;
  margin: auto;
  padding: 24px;
}

.StockDetail_Card{
  margin: 24px 48px;
  border: 2px solid slategrey;
  border-radius: 4px;
  padding: 24px;
}
