.App{
  margin: auto;
}

.Greeting{
  max-width: 1400px;
  margin: auto;
  padding: 24px;
}

.StockEventTable{
  max-width: 1400px;
  margin: auto;
  padding: 24px;
}

.StockDetail{
  margin: 12px 0px;
  padding: 4px;
  border: 2px solid slategrey;
  border-radius: 4px;
  background-color: #198754;
}

.StockDetail_Heading{
  border: 2px solid slategrey;
  border-radius: 4px;
  padding: 24px;
  background-color: white;
}

.StockDetail_Card{
  margin: 0;
  border: 2px solid slategrey;
  border-radius: 4px;
  padding: 24px;
  background-color: #FAF9F6;
}

.CRUDProduct{
  max-width: 1400px;
  margin: auto;
  padding: 0px 24px;
}

ul{
  list-style-type: none;
  padding: 0;
}

li{
  padding: 6px 12px;
  border-bottom: 1px solid slategrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

span > button{
  margin-left: 4px;
}

.create-product-form{
  margin-left: 32px;
}

.create-product-button{
  margin-left: 32px;
}

.CRUDStockEvent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.se-table{
  margin: 2rem
}